.as-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.affiliates-sponsors-card {
  width: 60vw;
  /* border: 1px solid #242671; */
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

/* .as-card-container {
  flex: 1;
} */

/* .affiliates-sponsors-cards img {
  width: 200px;
} */

.as-img-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.as-img-container img {
  width: 200px;
}

.as-details-container {
  flex: 1;
  text-align: left;
}

.as-details-container button {
  background-color: #242671;
  padding: 1rem;
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .affiliates-sponsors-card {
    width: 90vw;
    /* border: 1px solid #242671; */
    display: flex;
    flex-direction: column;
  }

  .as-img-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .as-img-container img {
    width: 40vw;
  }

  .as-details-container {
    flex: 1;
    text-align: center;
  }
}