.events-header {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  background-image: url('../images/thinktank1617f.JPG');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
}

.alert {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .events-header {
    max-width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem;
    background-image: url('../images/commRetreat1819b.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #242671;
    color: white;
  }
}