.sports-initiatives-header {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  background-image: url('../images/smgCaptainball1617a.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.sports-initiatives-body {
  padding: 2rem;
  margin-bottom: 2rem;
}

.sports-initiatives {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sports-initiatives-logos {
  width: 10vw;
  display: block;
  margin: auto;
}

.smg {
  text-align: justify;
  padding: 2rem;
  background-color: rgba(189, 30, 43, .5);
  width: 25vw;
  min-height: 50vh;
  height: initial;
  font-size: small;
}

.team-nsw {
  text-align: justify;
  padding: 2rem;
  background-color: rgba(36, 38, 113, .5);
  width: 25vw;
  min-height: 50vh;
  height: initial;
  font-size: small;
}

@media screen and (max-width: 600px) {
  .sports-initiatives-header {
    max-width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1rem;
    background-image: url('../images/smgCaptainball1617a.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #242671;
    color: white;
  }

  .sports-initiatives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sports-initiatives-logos {
    width: 50vw;
    display: block;
    margin: auto;
  }
  
  .smg {
    text-align: justify;
    padding: 2rem;
    background-color: rgba(189, 30, 43, .5);
    width: 70vw;
    min-height: 40vh;
    height: initial;
    font-size: small;
  }
  
  .team-nsw {
    text-align: justify;
    padding: 2rem;
    background-color: rgba(36, 38, 113, .5);
    width: 70vw;
    min-height: 40vh;
    height: initial;
    font-size: small;
  }
}