.affiliates-sponsors-container {
    padding: 1rem;
    height: 85vh;
    background-color: grey;
    overflow: auto;
    background-image: url('../images/background/dan-sydney-medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.affiliate-sponsor-card {
    width: 10rem;
    height: 5vh;
    margin: 0 1rem;
    border-radius: 1rem;
}

.affiliate-sponsor-card > img {
    width: 8rem;
}

@media screen and (max-width: 600px) {
    .affiliates-sponsors-container {
        padding: 1rem;
        height: 70vh;
        background-color: grey;
        overflow: auto;
        background-image: url('../images/background/kewal-sydney-small.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}